input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }
  body .main-con {
    max-width: 800px;
    margin: 30px auto;
    text-align: center; }
    body .main-con h1 {
      font-size: 30px;
      font-weight: 400; }
    body .main-con #error {
      padding: 5px;
      margin: 10px 10px 0 10px; }
    body .main-con #actions {
      padding-left: 0; }
  body li {
    list-style: none;
    margin: 10px;
    display: inline-block; }
    body li .btn {
      color: #FFF;
      width: 120px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      display: inline-block;
      padding: 10px 15px;
      font-weight: 500;
      font-family: inherit;
      font-size: 18px;
      text-transform: capitalize;
      text-align: center;
      background-color: #FF8080; }
      body li .btn:focus {
        outline: none; }
      body li .btn::-moz-focus-inner {
        border: 0; }
      body li .btn:hover {
        background-color: #FF6666; }
  body #sudoku-grid {
    margin-top: 30px; }
    body #sudoku-grid .section, body #sudoku-grid .row {
      white-space: nowrap;
      font-size: 0; }
    body #sudoku-grid .block {
      display: inline-block;
      border: 1px solid #101010; }
    body #sudoku-grid .cell {
      display: inline-block;
      width: 50px;
      height: 50px;
      overflow: hidden;
      position: relative;
      border: 1px solid #995C00; }
    body #sudoku-grid input {
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-size: 26px;
      text-align: center;
      background: #FFF;
      color: #B28F47;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none; }
      body #sudoku-grid input.given {
        font-weight: 500;
        color: #000; }
      body #sudoku-grid input:focus {
        outline: 0;
        background: #FFD699; }
      body #sudoku-grid input[readonly="readonly"]:focus {
        outline: 0;
        background: #FFF; }
